.parallax-container {
    width: 759.6px;
    height: 660px;
}
.parallax {
    /* The image used */
    background-image: url('../../assets/image/splash-banner.jpg');
    /* height: 100%; */
    /* Set a specific height */
    width: 100%;
    height: 660px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* transform: translate(-10%, -10%); */
    background-position-x: -240px;
    /* background-position-y: 100px; */
}
.body-container {
    padding: 0;
    margin-top: 121px;
    height: auto;
    width: 100%;
    /* width: 100%; */
}
.splash-banner {
    width: 100%;
    /* min-width: 980px; */
    min-height: 320px;
    box-sizing: border-box;
}
.splash-banner .columns{
    margin: 0;
    padding: 0;
}
.splash-banner-left {
    /* overflow: hidden;
    float: left;
    width: 50%;
    height: 100%; */
    width: 100%;
    overflow: hidden;
    height: 660px;
}

.splash-banner-right {
    
    width: 100%;
    /* float: right; */
    background-color: hsl(141, 72%, 43%);
    /* width: 50%; */
    height: 660px;
}
.splash-banner-right-content {
    margin-left: 17px;
    min-width: 490px;
    width: 100%;
    height: auto;
}
.splash-banner-title {
    padding: 53px 0px 29px calc((100% - 490px) * 0.5);
    font-size: 72px;
    font-family: 'Raleway',sans-serif;
    color: white;
    text-transform: uppercase;
}
.splash-banner-subtitle {
    margin: 0px 0px 29px calc((100% - 490px) * 0.5);
    font-size: 20px;
    color: white;
    font-family: 'Nunito', sans-serif;
}
.get-food-btn {
    width: 118px;
    font-weight: 300;
    margin: 0px 0px 29px calc((100% - 490px) * 0.5);
    font-family: 'Nunito', sans-serif;
    background-color: white;
}
.get-food-btn:hover{
    border-color:hsl(141, 48%, 76%);
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    background-color:  hsl(141, 48%, 76%);
}
.steps {
    width: calc(100vw - 160px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4.5rem;
    min-width: 980px;
    height: auto;
}
/* .level-item .step-item {
    min-width: 300px;
    flex: 0 1 433px;
} */
.steps-title {
    margin-top: 53px;
    margin-bottom: 53px;

    text-align: center;
    /* text-align: center; */
    
}
.step-title {
    font-family: 'Raleway', sans-serif;
    color: white;
    margin-bottom: 33px;
    font-size: 22px;
}
.step-subtitle {
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 18px;
}
.has-text-green {
    color: hsl(141, 72%, 43%);
}
.has-text-white {
    color: white;
}
.is-Raleway {
    font-family: 'Raleway', sans-serif;
}
.is-Nunito {
    font-family: 'Nunito', sans-serif;
}

.large-space {
    height: 4rem;
}
.steps .level-item {
    flex: 0 1 426.4px;
    min-width: 319px;
    height: 520px;

}

.steps .step-item-image {
    max-width: 426.4px;;
}

.step-item-image {
    width: inherit;
    height: 300px;
}
.step-item-image img{
    width:100%;
    height: 100%;
}
.step-item-content {
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    height: calc(520px - 300px);
    padding-top: 53px;
    padding-left: 32px;
    padding-right: 32px;
}
.quotes {
    min-width: 980px;
    width: 100%;
    min-height: 640px;
    /* max-height: 100%; */
    /* background-color: #3CB44C */
    background-color: #C2B39B
    /* margin: auto; */
}
.quotes-content {
    min-width: 980px;
    min-height: 640px;
    width: calc(100vw - 160px);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    /* justify-content: center; */
    align-items: center;

}
.quotes-content .column {
    display: flex;
    justify-content: center;
    align-items: center;
}
.quotes-left {
    float: left;
    width: 50%;
    height: 100%;
    
    display: flex;
    align-items: center;
}
.quotes-text-container {
    height: 100%;
    width: 100%;
    display: flex;

    align-items: center;
 
}

.quotes-text {
    width: 460px;
    margin-left: 17px;
    padding-left: calc((100% - 490px) * 0.5);
}
.quote-title {
    font-family: "Raleway", sans-serif;
    color: white;
    font-size: 22px;
    margin-bottom: 33px;
}
.quote-subtitle {
    font-family: "Nunito", sans-serif;
    color: white;
    font-size: 18px;
}
.quotes-image {
    width: 100%;
    height: 480px;
}
.quotes-image img {
    width: 100%;
    min-height: 480px;
}
.splash-banner-2{
    width: 100%;
    min-width: 980px;
    height: 560px;

}
.splash-banner-2 img {
    object-fit: cover;
    width: 100%;
    min-height: 560px;
    opacity: 0.7;
}
.contact {
    width: 100%;
    height: 100%;
    min-width: 980px;
    margin-top: 80px;
    margin-bottom: 40px;
    background-color: white;
}
.contact-container {
    background-color: rgba(0, 0, 0, 0.9);
    width: calc(100vw - 160px);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    min-width: 980px;
    min-height: 550.6px;
}
.contact-left {
    float: left;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-left-content {
    min-width: 490px;
    width: 490px;
    left: 15px;
    margin: 60px 0px 23px calc((100% - 455px) * 0.5);
    text-align: center;
}
.contact-right {
    float: right;
    height: 100%;
    width: 50%;
}
.contact-right-content {
    min-width: 560px;
    width: 560px;
    overflow: hidden;
    height: 100%;
    margin: 60px calc((100% - 490px) * 0.5) 69px calc((100% - 490px) * 0.5);
    left: 15px;
}
.contact-form {
    width: 100%;
    max-width: 460px;
}
.submit-btn {
    margin-top: 25px;
    min-height: 31px;
    height: 50px;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 42.6px;
}
.submit-btn:not(:disabled):hover {
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    background-color: #a7a7a7;
    color: white;
}
.footer-left {
    float: left;

    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
}
.footer-right {
    float: right;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.app-footer {
    width: 100%;
    min-width: 980px;
    height:120px;
    max-height: 120px;
}
.footer-content {
    width: 980px;
    min-width: 980px;
    height: 100%;
    margin: auto;
}
.footer-left-content {
    left: 20px;
    width: 145px;
    margin-top: 63px;
    height: auto;
}
.footer-left p{
    letter-spacing: -.3px;
}
.footer-right-content {
    right: 20px;
    margin-top: 63px;
    width: 80px;
    height: auto;
    margin-top: 63px;
}

.message-sent {
    height: 100%;
    width: 460px;
    max-width: 460px;
    text-align: center;
}
.steps .level-item:not(:last-child) {
    margin-right: 40px;
}
/* @media only screen and (min-width: 1020px) {
    .steps .level-item:not(:last-child) {
        margin-right: 40px;
    }

} */

@media only screen and (max-width: 1020px) {
 
    .steps {
        max-width: 100%;
        min-width: calc(100% - 34px);
        margin-left: 17px;
        margin-right: 17px;
    }
    .quotes-left {
        margin-left: 17px;
    }
    .quotes {
        height: auto;
        min-width: 100%;
    }
    .quotes-content {
        /* min-width: 100%; */
        min-width: calc(100% - 34px);
        margin-left: 17px;
        margin-right: 17px;
    };
    .quotes-image {
        width: 100%;
    }
    .quotes-image img{
        width: 100%;
        height: 390px;
        
    }

    .quotes-text{
        min-width: 100%;
        margin-left:0;
        padding-top: 53px;
        padding-left: 17px;
        padding-right: 17px;
        padding-bottom: 53px;
        height: auto;
    }
    .quotes-image {
        min-width: 490px;
    }
    .splash-banner-2{
        min-width: 100%;
        height: 390px;
    }
    .splash-banner-2 img {
        min-height: 390px;
    }

    /* .contact, .contact-container, .con {
        min-width: 100%;
    } */


}

@media only screen and (max-width: 770px) {
    .splash-banner-left, .splash-banner-right {
        height: 390px;
    }

    .splash-banner-right-content {
        overflow-x: auto;
        text-align: center;
        margin-left: 0;
        min-width: 100%;
        height: auto;
    }
    .splash-banner-left-content {
        overflow-x: auto;
    }
    .splash-banner-title {
        font-size: 40px;
        padding-left: 0;
    }
    .splash-banner-subtitle {
        padding-left: 0;
        margin-left: 0;
    }
    .get-food-btn {
        margin-left: 0;
    }
    .step-item-image {
        height: 190px;
    }
    .step-item-content {
        height: 200px;
    }
    .steps .level-item {
        min-width: 100%;
        height: 390px;
    }
    .step-title {
        font-size: 18px;
    }
    .quotes-content {
        min-width: calc(100% - 34px);
        height: 100%;
        margin-left: 17px;
        margin-right: 17px;
        padding-top: 53px;
    }
    .quotes-image{
        height: 390px;
        min-width: 100%;
    }
    .quotes-image img{
        width: 100%;
        height: 390px;
        min-height: 390px;
    };
    .quotes-text-container {
        height: auto;
    }
    .quotes-text {
        text-align: center;
    }
    .contact, .contact-container{
        min-width: 100%;
    }
    .contact {
        margin-top: 0;
    }

    .contact-left-content, .contact-right-content {
        /* margin-left: auto; */
        /* margin-right: auto; */
        min-width: calc(100% - 34px);
        width: calc(100% - 34px);
        margin-left: 17px;
        margin-right: 17px;
        /* padding-right: 17px; */
        /* margin-right: 17px; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .quote-title {
        font-size: 18px;
    }
    .quote-subtitle {
        font-size: 16px;
    }

}

@media only screen and (max-width: 332px) {
}
