.banks-page-bd {
    margin-top: 121px;
    position: relative;
    width: 100%;
    min-width: 980px;
    height: auto;
    background-color: #f8f7fa;
    /* background-color: #f6f9fc; */
}

.bank-page-bd .title,
.bank-page-bd .subtitle,
.bank-page-bd p {
    font-family: 'Muli', sans-serif;
    /* font-family: 'Noto Sans', sans-serif; */
}

.banks-page-bd .title,
.banks-page-bd .subtitle,
.banks-page-bd p {
    letter-spacing: -0.1px;
    font-family: 'Muli', sans-serif;
}


.bank-container {
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 3rem;
    /* padding-bottom: 5rem;
    padding-left: 14vw;
    padding-right: 14vw; */
}

.bank-page-bd {
    /* position: relative; */
    margin-top: 121px;
    width: 100%;
    height: auto;
    min-width: 980px;
    background-color: #f8f7fa;
    /* background-color: #f7f7f7; */
    /* overflow: hidden; */
    /* background-color: white; */
    /* background-color: rgb(245, 246, 247); */
    /* background-color: #f8f8f8; */
    /* background-color:#f6f9fc; */
}

.bank-title {
    color: black;
    font-family: 'Avenir', sans-serif;
    font-size: 34px;
    /* color: #00bd81; */
}

.bank-list {
    width: 100%;
    /* min-width: 590px; */
    /* max-width: calc(100% - 160px); */
    margin-top: 53px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    /* width: 100%; */

}


.bank-card {
    border-radius: 0;
    box-shadow: none;
    /* padding-top: 1rem; */
    overflow: hidden;
    min-height: 177px;
    height: 177px;
    /* min-height: 177px; */
    /* max-height: 210px; */
    /* padding-bottom: 1rem; */
    /* box-shadow: 0 0.1em 0.5em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 0.5px rgba(10, 10, 10, 0.02); */
    background-color: white;
    border: 1px solid hsl(0, 0%, 48%);
    /* border: 1px solid #dadada; */
    /* border: 1px solid black; */
    /* border: 1px solid #
    eeeeef; */
}
.image.bank-logo {
    width: 60%;
    height: 100%;
}
.bank-card .media {
    height: 100%;
}
.bank-card .media-left {
    width: 60%;
    min-height: 177px;
    height: 177px;
    border-right: 1px solid hsl(0, 0%, 48%);
}
.bank-logo img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    /* border: 1px solid #dadada; */
}

.bank-card .media-content {
    width: 40%;
    height:100%;
    padding: 2rem 2rem 2rem 1rem;
}

.buttons .button {
    flex: 0 1 calc(50% - 4px);
}
.buttons .button:last-child {
    margin-right: 0;
}

.bank-card:hover {
    border: 1px solid black;
    /* border: 1px solid #d3d3d3; */
    /* box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02); */
    cursor: pointer;
}

.bank-card:not(:first-child) {
    margin-top: 2rem;
}

.title:not(:last-child).location-and-hours {
    margin-bottom: 1rem;
}

.subtitle:not(:last-child) {
    margin-bottom: 0;
}

.icons {
    display: flex;
    justify-content: flex-start;
}

.icon-wrapper {
    color: green;
    display: inline-block;
    padding-bottom: .5rem;
    margin-right: .5rem;
}

.has-margin-left-2 {
    margin-left: 2rem;
}

.icon-wrapper:hover {
    cursor: pointer;
}

.days {
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
}

.hours {
    margin-left: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
}

.map-container {
    border: 1px solid #d3d3d3;
    background-color: #d3d3d3;
    margin-bottom: 1.5rem;
}

.big-map {
    width: 100%;
    max-height: 100%;
    height: 680px;
}

.big-map img {
    max-width: 100%;
    max-height: 100%;
    height: inherit;
    width: 100%;
}
.small-map {
    width: 100%;
    height: 100%;
}
.small-map .leaflet-container{
    height: 100%;
    min-height: 460px;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    height: calc(100vh - 120px);
    width: 100%;
    top: 120px;
}

.grey {
    background-color: rgb(238, 238, 238);
}

.bank-banner {
    width: 100%;
    /* min-height: 344px; */
    height: auto;
    background-color: #f8f7fa;
    /* background-color: #f1f1f1; */
}
.bank-banner .container {
    padding-top: 53px;
    padding-bottom: 53px;
    /* max-width: calc(100% - 160px); */
}
.bank-banner-left {
    box-sizing: border-box;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}

.bank-banner-right {
    height: 100%;
    box-sizing: border-box;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}

.bank-banner-info {
    width: 100%;
}

.banner-image {
    /* top: 60px; */
    height: 86vh;
    /* margin-bottom: 3rem; */
    background-color: white;
    /* background-color:#f6f9fc ; */
    /* background: url('https://naanstop.com/wp-content/uploads/2018/12/slidernew_background-121718-v1.jpg'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* position: relative; */
}

.banner-padded {
    overflow-y: hidden;
    max-height: 86vh;
    padding-top: 3rem;
    padding-bottom: 3rem;
    /* margin-left: 12vw; */
}

.bank-body {
    width: 100%;
    padding-top: 2rem;
    /* padding-bottom: 2rem; */
    /* margin-left: 12vw; */
    /* margin-right: 12vw; */
}

.map {
    width: 100%;
    height: 300px;
}

.no-flex {
    display: block !important;
}

.has-margin-top-0-25 {
    margin-top: .25rem;
}

.has-margin-top-1 {
    margin-top: 1rem;
}

.has-margin-left-24 {
    margin-left: 24.7px;
}

.highlights {
    height: 20vh;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
}

.overlay {
    background-color: rgb(59, 59, 59);
    /* background-color: rgba(62, 62, 62, 0.83); */
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}


/* .overlay:hover {
    transition: 0.3s ease-in-out;
    background-color:rgba(78, 78, 78, 0.83);
 
} */

.banner-title {
    color: white;
}

.banner-subtitle {
    color: white;
}

.banner-tags {
    display: flex;
}

.bank-status {
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.rating-stars {
    margin-left: 12px;
    margin-right: 12px;
}

.has-margin-left-12 {
    margin-left: 12px;
}

.inventory {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    /* flex-direction: column; */
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.item {
    /* height: auto; */
    margin: 10px;
    flex: 0 1 calc(33% - 20px);
    /* border-bottom: 1px solid #d3d3d3; */
    background-color: white;
    box-shadow: none;
}

.item:not(:first-child) {
    margin-top: .5rem;
}


/* 
.item-content p {
    display: block;
    display: -webkit-box;
    max-height: 60px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
} */

.item-tags {
    text-align: left;
    width: 70%;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    margin-bottom: 6px;
    align-items: center;
}

.select-delivery {
    margin-left: 10px;
    margin-bottom: 1rem;
}

.has-margin-bottom-0-5 {
    margin-bottom: .5rem;
}

.item-actions {
    /* width: 50px; */
    display: flex;
    position: absolute;
    /* margin-top: 1rem; */
    bottom: 0rem;
}

.item-actions input {
    width: 36px;
    pointer-events: none;
}

.right-most {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


/* INVENTORY ITEMS */

.item-header {
    display: inline-block;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

@media ( max-width: 768px) {
    .inventory>.item {
        flex-basis: 100%;
    }
}


/* END OF INVENTORY ITEMS */

a.link-to-bank {
    color: black;
}

a.link-to-bank:hover {
    color: black;
    /* text-decoration: underline; */
}

.fillWidth {
    min-width: 100%;
    height: auto;
}

.fillheight {
    min-height: 100%;
    width: auto;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.image.landscape {
    height: 200px;
}

.capitalized {
    text-transform: capitalize !important;
}

.flex-center {
    display: flex;
    align-items: center;
}

.item-image {
    width: 100%;
    height: 100%;
}

.item-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 30%;
    /* border-right: 1px solid #f1f1f1; */
    /* height: 140px; */
    height: inherit;
}

.item-info {
    width: 70%;
    /* height: 140px; */
    padding: 1.5rem;
    position: relative;
}


.has-font-13 {
    font-size: 13px;
}

.has-font-15 {
    font-size: 15px;
}

.has-font-14 {
    font-size: 14px;
}

.card-footer {
    height: 42px;
}

.item-price {
    display: flex;
    align-items: center;
    text-align: left;
    padding-left: 1rem;
    width: 30%;
    background-color: #f1f1f1;
    /* background-color: rgb(234, 237, 241); */
    margin-bottom: 6px;
}

.card-content.item-content {
    display: flex;
    margin: 0;
    padding: 0;
}
/* 
.card-content {
    width: 100%;
    height: 100%;
    padding: 0;
} */

.has-size-20 {
    margin-top: 2px;
    width: 20px;
    height: 20px;
}

.has-no-padding {
    padding: 0;
}

.has-no-margin {
    margin: 0;
}

.columns.item-info {
    box-sizing: inherit;
    display: flex;
    margin-bottom: 0;
}

.item-info .column {
    margin-top: .75rem;
    margin-left: .75rem;
    padding: 0;
}

.bank-info-wrapper {
    display: flex;
    /* align-items: center; */
    margin-top: 0;
}
.divider-25 {
    width: 71px;
    height: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid black;
}
.bank-info-icon {
    margin-right: 6px;
}

.bank-info-content {
    width: 100%;
    display: inline-block;
    /* font-family: 'Raleway', sans-serif; */
    font-size: 16px;
    /* height: 100%; */
    display: flex;
    align-items: center;
}
 /* .bank-info-content .subtitle {
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
} */

.flex-top {
    display: inline-block;
    min-height: 144px;
    display: flex;
    justify-content: flex-start;
}

.bank-info-wrapper:not(:first-child) {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 1rem;
}

.hours-wrapper {
    display: inline-block;
    text-align: left;
}

.inventory-title-container {
    /* text-transform: uppercase; */
    display: inline-block;
    /* width: 100%; */
    /* border-bottom: 1px solid #e6e6e6; */
    /* padding-bottom:  */
}

.inventory-title {
    font-size: 18px;
    letter-spacing: 1;
    /* color: black; */
    /* font-weight: 600; */
    color: hsl(0, 0%, 48%);
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.columns.banner-container {
    margin: 0;
}

.has-text-green {
    color: green;
}

.next-day-availability {
    padding: 1rem;
}

.not-available {
    opacity: 0.3;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    font-size: 12px;
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.is-fullWidth {
    width: 100%;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.left-most {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.bank-schedule {
    width: 100%;
    display: inline-block;
}
.schedule-title {
    float: left;
    padding-right: 1rem;
    width: auto;
    height: 100%;
}
.schedule-days {
    float: left;
    padding-right: 1rem;
    width: auto;
    height: 100%;
}

.schedule-hours {
    width: auto;
    height: 100%;
    padding-right: 1rem;
    float: right;
}

.schedule-hours p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.empty-cart-msg {
    min-height: calc(100vh - 120px);

    display: flex;
    justify-content: center;
    align-items: center;
}
/* for mobile */

@media only screen and (max-width: 600px) {
    .notification {
        padding-left: 1.75rem;
        padding-right: 1.75rem;
    }
    /* .bank-list{
        padding-left: 1rem;
        padding-right: 1rem;
    } */
    .inventory-col-1 {
        margin-bottom: .5rem;
    }
}

@media screen and (min-width: 1408px) {
    .container {
      max-width: calc(100% - 160px);
    }
  }
  @media screen and (max-width: 1408px) {
    .container {
      max-width: calc(100% - 160px);
    }
  }


@media only screen and (min-width: 1020px) {
    .container {
        min-width: calc(100% - 160px);
      }
    .notification {
        padding-left: 12vw;
        padding-right: 12vw;
    }
    
    
}
@media only screen and (max-width: 1020px) {
    .empty-cart-msg {
        min-height: calc(100vh - 92px);
    
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner-image {
        height: auto;
    }
    .notification {
        padding-left: 1.75rem;
        padding-right: 1.75rem;
    }
    
    .container {
        min-width: calc(100% - 34px);
    }
    .bank-banner-info{
        min-width: calc(100% - 34px);
    }
    .sticky {
        top: 92px;
        height: calc(100vh - 92px);
    }
}

@media only screen and (max-width: 770px) {
    .bank-banner-left {
        display: block;
        float: left;
        width: 100%;
    }
    .bank-banner-right {
        display: block;
        float: left;
        width: 100%;
    }
    .banner-image {
        height: auto;
    }
    /* .bank-list {
        padding-left: 1.75rem;
        padding-right: 1rem;
    } */
    .item-column {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .sticky {
        height: 490px;
    }
}

.no-overflow p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subtitle.no-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* .card-content .content {
    max-height: 80px;
    overflow: hidden;

} */

.is-bold {
    font-weight: 600;
}

.subtitle.is-bold {
    font-weight: 600;
}
/* CART PAGE */

.cart-page {
    margin-top: 14vh;
    padding-left: 12vw;
    padding-right: 12vw;
    background-color: white;
}

.cart-container {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.items-container {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.delete-item {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translate(-50%, -50%);
}

.total-items-container {
    max-height: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    background-color: #f8f8f8;
}

.back-to-shopping .icon-wrapper {
    margin-right: 0;
    color: black;
}

.checkout-btn {
    margin-bottom: 2rem;
    font-size: 16px;
    border-radius: 0;
    border: 1px solid black;
    background-color: black;
    color: white;
    height: 48px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
}

.checkout-btn:hover {
    border: 1px solid black;
    background-color: white;
    color: black;
    transition: 0.2s ease-in;
}

.total-items {
    padding-top: 1rem;
    padding-bottom: 2rem;
}


/* END OF CART PAGE */


/* LOADING ICON */

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.tags-container a {
    font-size: 13px;
}

a.item-tag:hover {
    text-decoration: none;
    color: hsl(204, 86%, 53%);
    /* color: black; */
}

.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

input .order-quantity {
    border: none;
}


/* Bank Filters */

.bank-filters {
    padding-top: 2rem;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-bottom: 2rem; */
}

.filter-icon-wrapper {
    width: 42px;
    height: 42px;
    padding: .5rem;
    /* padding: .5rem; */
    border-radius: 50%;
    background-color: white;
    /* box-shadow: #215b83 0px 5px 0px 0px; */
    /* box-shadow: 2px 4px #181818; */
}

.filter-icon-wrapper:hover {
    background-color: #e6e6e6;
}

.tabs li.is-active a {
    border-bottom: 2px solid #D1410C;
    color: #D1410C;
}

.tabs a {
    color: hsl(0, 0%, 48%);
    border-bottom-color: #EEEDF2;
}

.tabs a:hover {
    color: #D1410C;
    border-bottom-color: #EEEDF2;
}

.tabs ul {
    border-bottom-color: #EEEDF2;
}
.bank-address {
    font-family: 'Avenir', sans-serif;
    color: black;
    font-size: 16px;
}

/* CHECK OUT BUTTON */

.bank-actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.checkout-btn-wrapper {
    display: inline-block;
}


/* Sign up & Login page classes */

.login-signup-page {
    position: relative;
    margin-top: 121px;
    width: 100%;
    min-height: calc(100vh - 121px);
    background-color: #f8f7fa;
}

.signup-background-image {
    margin-left: 0;
    margin-right: 0;
    background: rgb(255, 255, 255);
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgb(248, 247, 250) 50%), url('../assets/image/farmers-market.jpg');
    width: 100%;
    height: 100%;
    position: relative;
}

hr.is-light-gray {
    background-color: #ececec;
}

.has-margins-0-5 {
    margin: 0.5rem;
}

.hidden {
    display: none;
}

.has-opacity-0-6 {
    opacity: .6;
}


/* donation classes */

.donate-page {
    position: relative;
    margin-top: 121px;
    width: 100%;
    min-height: calc(100vh - 121px);
    background-color: #f8f7fa;
}

.donate-card {
    display: inline-block;
    padding: 10px;
    background-color: white;
    border-radius: 12px;
    margin: auto;
}

.input {
    border-radius: 0;
    /* background-color: transparent; */
}

.input.is-white {
    opacity: 1;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 1px solid white;
    color: white;
    background-color: transparent;
}

.input.is-white:hover,
.input.is-white:focus {
    border: 1px solid white;
}

.input.is-danger {
    /* border-color: red; */
    background-color: white;
    /* background-color: rgba(255, 0, 0, 0.158); */
    /* opacity: 0.2; */
}

.input.is-danger.is-white,
input.is-danger.is-white:focus,
input.is-danger.is-white:hover {
    color: white;
    background-color: rgba(255, 0, 0, 0.103);
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 1px solid red;
    box-shadow: none;
    /* opacity: 1; */
}

.input.is-white::placeholder {
    color: white;
}

.textarea.is-white {
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: white;
}

.textarea.is-white::placeholder {
    color: white;
}

.textarea.is-white:hover,
.textarea.is-white:focus {
    border: 1px solid white;
}

.textarea {
    border-radius: 0;
}

.textarea.is-danger.is-white {
    color: white;
    background-color: rgba(255, 0, 0, 0.103);
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 1px solid red;
}

.delivery-btn,
.pickup-btn,
.start-order-btn {
    flex: 1 0 50%;
    border: 1px solid hsl(0, 0%, 48%);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.half-left {
    float: left;
    width: 50%;
    height: 100%;
}

.half-right {
    float: right;
    width: 50%;
    height: 100%;
}
.bd-main {
    min-width: 100vw;
    position: relative;
}
.bd-main.is-fullheight-with-navbar{
    margin-top: 120px;
    min-height: calc(100vh - 120px);
}

@media only screen and (max-width: 1020px) {
    .bd-main.is-fullheight-with-navbar {
        margin-top: 92px;
    }
}

.title.bank-card-title {
    font-family: 'Avenir', sans-serif;
    font-size: 16px;
    margin-bottom: 1rem;
    /* margin-bottom: 1rem; */
    /* border-bottom: 1px solid hsl(0, 0%, 48%); */

}
.bank-card p {
    
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.divider-24 {
    /* height: 1px; */
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
}
.bank-card-logo img{
    width: 100%;
    height: 177px;
    object-fit: cover;
    object-position: center;
}


/* ITEM CARD */
.item-card {
    flex: 1 0 16.6%;
    max-height: 348px;
    min-width: 149px;
    max-width: 229.34px;
    /* margin: 10px; */
    /* margin-right: 20px; */
    border: none;
    margin-bottom: 1rem;
    box-shadow: none;
    height: auto;
}
.item-card img {
    max-width: 155px;
    height: 155px;
    left: 0;
}
.item-card .card-content {
    height: auto;
    /* min-width: 155px; */
    max-width: 155px;
    padding-left: 0;
    padding-right: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.item-card .card-image {
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.item-brand {
    font-family: 'Raleway', sans-serif;
    /* font-weight: 550; */
    color: 	hsl(0, 0%, 29%);
    font-size: 12px;
    /* text-transform: lowercase; */
    letter-spacing: 1px;
    margin-bottom: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item-name {
    color:  	hsl(0, 0%, 29%);
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    text-transform: capitalize;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.item-unit {
    font-family: 'Nunito', sans-serif;
    color:  	hsl(0, 0%, 29%);
    font-size: 14px;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item-card .field {
    width: 100%;
}
.item-actions .input {
    text-align: center;
    border:none;
}
.item-actions .button{
    border-radius: 50%;
}

/* end of item card */
.bank-card .card-content {
    padding: 0;
}
.disabled {
    pointer-events: none;
    cursor: default;
}
.no-product {
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
}
/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }


.empty-cart-msg .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
