
.checkout-page, .confirmation-page {
    position: absolute;
    margin-top: 10vh;
    width: 100%;
    min-height: 90vh;
    background-color: #f8f7fa;
}
.checkout-page-layer {
    max-width: 1127px;
    margin: 0 auto;
    /* padding-left: 14vw; */
    /* padding-right: 14vw; */
}
.confirmation-page-layer {
    /* width: 50%; */
    max-width: 1127px;
    margin: 0 auto;
}
.confirmation-page-error {
    max-width: 1127px;
    margin: 8.5rem auto;
}
.checkout-page-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.confirmation-page-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.checkout-page-title {
    width: 100%;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}
.confirmation-page-title {
    width: 100%;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}
.checkout-page-body, .confirmation-page-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.order-items {
    
    width: 884px;
    margin: 0 auto;
    height: auto;
    /* max-height: 275.2px; */
    /* display: flex; */
    /* align-items: center; */
} 
/* .item-brand {
    font-weight: 550;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: illipsis;
} */
.is-bold {
    font-weight: 600;
}
.order-confirm{
    /* background-color: white; */
    width: 764px;
    margin: 1rem auto;
}
.confirm-title {
    font-weight: 600;
    /* text-transform: uppercase; */
    /* letter-spacing: 1px; */
}
.w-50 {
    width: 50%;
}
.w-100 {
    width: 100%;
}
.delivery-confirm {
    /* padding: 1.5rem; */
    width: 100%;
    padding: 2.5rem;
    background-color: white;
    /* padding-top: 2.5rem; */
    /* padding-bottom: 2.5rem; */
}
.round-btn {
    border-radius: 50%;
}
/* label.has-margin-bottom-half{
    margin-bottom: .5rem;
} */
.control .street, .city, .state, .zip{
    /* border-radius: 0; */
    /* box-shadow: none; */
    /* border: 1px solid #f1f1f1; */
    margin-top: .2rem;
}
.pickup-confirm{
    /* padding-top: 1.5rem; */

    width: 100%;
    /* background-color: white; */
    padding-bottom: 2.5rem;
    /* border-bottom: 1px solid #EEEDF2; */
}
.has-padding-bottom-1-5 {
    padding-bottom: 1.5rem;
}
.has-no-margin {
    margin: 0;
}
.cart-summary-container {
    /* padding: 1.5rem; */
    width: 100%;
    background-color: white;

}

.cart-item .card-content {
    height: 126.5px;
}
.cart-item-image{
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    height: 133px;
}
.fade-in-quick {
    animation: fadeIn ease .1s;
    -webkit-animation: fadeIn ease .1s;
    -moz-animation: fadeIn ease .1s;
    -o-animation: fadeIn ease .1s;
    -ms-animation: fadeIn ease .1s;
  }
.delivery-option-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.has-margin-left-0-5 {
    margin-left: .5rem;
}
.confirm-checkout-btn {
    margin-top: 1.5rem;
}
.item-list {
    width: 180px;
    margin-bottom: 1.5rem;
}
.level.item-level:not(:last-child) {
    margin-bottom: 0;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.capitalized {
    text-transform: capitalize;
}
@media only screen and (max-width: 1050px) {
    .checkout-page-layer{
        padding-left: 1.75rem;
        padding-right: 1.75rem;
    }
    .order-confirm {
        width: auto;
        margin-left: 0;
        margin-right: 0;
    }
    .order-items {
        width: 100%;
    }
 
}
@media only screen and (max-width: 770px) {
    .checkout-page-layer{
        padding-left: 1.75rem;
        padding-right: 1.75rem;
    }
    .order-confirm {
        width: auto;
        margin-left: 0;
        margin-right: 0;
        
    }
}

.hidden {
    display: none;
}
.error-msg {
    margin-bottom: 1.5rem;
}
.uppercase {
    text-transform: uppercase;
}
.space-2-5 {
    width: 100%;
    height: 2.5rem;
}
.space-1 {
    width: 100%;
    height: 1rem;
}
.divider {
    height: 1px;
    background-color: #EEEDF2;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.menu-list li {
    line-height: 36px;
    /* color: #cccbcf; */
    border-bottom: 1px solid #cccbcf;
}
.menu-list li a{
    /* line-height: 36px; */
    color: #cccbcf;
    /* border-bottom: 1px solid #cccbcf; */
}
.menu-list li a:hover {
    color: #3273DC;
    background-color: transparent;
}
/* .menu-list li a {
    color: #e8e7eb;
} */
.menu-list li.is-active{
    border-bottom: 2px solid #3273DC;
}
.menu-list li.is-active a{
    color: #3273DC;

} 
.space-1 {
    height: 1rem;
}
.space-1-5 {
    height: 1.5rem;
}
.confirm-order-container {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    width: 100%;
    height: auto;
    background-color: white;
}
.cart-summary .content {
    max-height: 300px;
}
.price-summary {
    text-align: right;
}
.price-total {
    width: 100%;
    background-color: #EEEDF2;
}
.has-padding-1-5 {
    padding: 1.5rem;
}
.at-right-most {
    display: flex;
    justify-content: flex-end;
}
.total-order-container {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #EEEDF2;
}
.total-order-container .cart-item {
    border: none;
    box-shadow: none;
    flex: 1 0 12%;
    /* max-width: 133px; */
}

.cart-item-image {
    padding-top: 1rem;
    /* padding-right: 1rem; */
}
.cart-item .card-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.cart-item .card-content p{
    max-width: calc(133px - 1rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media only screen and (min-width: 102px) {
    .cart-item {
        max-width: 133px;
    }
}