.checkout-page {
    position: absolute;
    margin-top: 10vh;
    width: 100%;
    min-height: 90vh;
    background-color: #f8f7fa;
}
.checkout-page-layer{
    width: 100%;
    padding-left: 14vw;
    padding-right: 14vw;
}
.checkout-page-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.checkout-page-title {
    width: 100%;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: center;
}
.checkout-page-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.order-items {

    width: 100%;
    height: auto;
    /* max-height: 275.2px; */
    /* display: flex; */
    /* align-items: center; */
} 
.item-brand {
    font-weight: 550;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: illipsis;
}
.is-bold {
    font-weight: 600;
}
.order-confirm{
    display: block;
    /* padding-top: 3rem; */
    /* padding-bottom: 3rem; */
    margin: 2.5rem auto;
    /* padding-left: 6rem; */
    /* padding-right: 6rem; */
    width: 60%;
}
.confirm-title {
    font-weight: 600;
    /* text-transform: uppercase; */
    /* letter-spacing: 1px; */
}
.w-50 {
    width: 50%;
}
.w-100 {
    width: 100%;
}
.delivery-confirm {
    /* padding: 1.5rem; */
    width: 100%;
    /* background-color: white; */
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.round-btn {
    border-radius: 50%;
}
/* label.has-margin-bottom-half{
    margin-bottom: .5rem;
} */
.control .street, .city, .state, .zip{
    /* border-radius: 0; */
    /* box-shadow: none; */
    /* border: 1px solid #f1f1f1; */
    margin-top: .2rem;
}
.pickup-confirm{
    /* padding-top: 1.5rem; */

    width: 100%;
    /* background-color: white; */
    padding-bottom: 2.5rem;
    border-bottom: 1px solid #EEEDF2;
}
.has-padding-bottom-1-5 {
    padding-bottom: 1.5rem;
}
.has-no-margin {
    margin: 0;
}
.cart-summary-container {
    /* padding: 1.5rem; */
    width: 100%;
    background-color: white;

}
.cart-item {
    /* box-shadow: none; */
    width: 185.333px;
    border-bottom: 1px solid #eeeeef;
}
.card-image {
    max-width: inherit;
    display: flex;
    justify-content: center;
    height: 133px;
}
.fade-in-quick {
    animation: fadeIn ease .1s;
    -webkit-animation: fadeIn ease .1s;
    -moz-animation: fadeIn ease .1s;
    -o-animation: fadeIn ease .1s;
    -ms-animation: fadeIn ease .1s;
  }
.delivery-option-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.has-margin-left-0-5 {
    margin-left: .5rem;
}
.confirm-checkout-btn {
    margin-top: 1.5rem;
}
.item-list {
    width: 180px;
    margin-bottom: 1.5rem;
}
.level.item-level:not(:last-child) {
    margin-bottom: 0;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}