
.navbar {
    z-index: 9999;
    color: hsl(0, 0%, 48%);
    font-family: 'Raleway', sans-serif;
    height: 121px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    border: none;
    background-color: white;
    /* border-bottom: 1px solid #d8dbdd; */
    /* box-shadow: 0 2px 2px -2px rgba(0,0,0,.2); */
}
.navbar-content {
    /* min-width: 980px; */
    /* width: calc(100% - 160px); */
    margin-left: 80px;
    margin-right: 80px;
    /* margin-left: 78px; */
    /* margin-right: 78px; */
    display: flex;
}
.brand-text-container {
    
}
.is-60x60 {
    width: 60px;
    height: 60px;
}
.navbar-brand a{
   width: 60px;
   height: 60px;
   padding: 0;
   /* padding-bottom: 0; */
}
.navbar-item img {
    max-height: 100%;
}
.logo {
    /* object-position: 50% 50%; */
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.navbar-end .navbar-item:last-child {
    margin-right: 0;
} 
.navbar-item a {
    color: #6F7287;
}
.navbar-item a:hover, .navbar-item a:focus {
    color: black;
}
.navbar-item {
    margin-right: 15px;
}

.navbar-brand .navbar-item .navbar-link {
    padding-left: 0;
}
.has-no-padding-left {
    padding-left: 0;
}
.has-no-padding-right {
    padding-right: 0;
}

input[type=search] {
	border: solid 1px #ccc;
	width: 55px;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
#search input[type=search] {
    border: none;
    border-bottom: 2px solid white;
    box-shadow: none;
    width: 15px;
    padding-left: 0;
    border-radius: 0;
    background-color: transparent;
    /* background-color: #f6f9fc; */
    color: white;
}
#search input[type=search]:hover {
    border: none;
    border-bottom: 2px solid white;
    background-color: #f6f9fc; 
    cursor: pointer;
    color: black;
}
#search input[type=search]:focus {
    /* box-shadow: 0 0 0 0.125em black; */
    padding-left: 20px;
    /* box-shadow: inset 0 0 3px green; */
    /* box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05); */
    border-bottom: 2px solid black;
    transition: .3s ease-in;
	width: 250px;
	color: #000;
	background-color: #f6f9fc;
	cursor: auto;
}
#search input:-moz-placeholder {
	color: transparent;
}
#search input::-webkit-input-placeholder {
	color: transparent;
}
.has-margin-left-12 {
    margin-left: 12px;
}
.brand-text {
    display: block;
    color: #181c19;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    /* font-family: 'Pacifico'; */
}
.brand-sub-text {
    font-family: 'Nunito', sans-serif;
    display: block;
    color: #181c19;
    /* font-weight: 500; */
    font-size: 15px;
    text-transform: capitalize;
}
.navbar-dropdown {
    color: black;
}
.shopping-cart {
    margin-right: .2rem;
    margin-left: 1rem;
}
.add-cart {
    border: none;
    height:48px;
    border-radius: 0;
    color:hsl(141, 71%, 42%);
    /* background-color: hsl(141, 71%, 48%); */
}
.add-cart:hover {
    transition: .2s ease-in;

    color: hsl(141, 70%, 30%);
}
@media only screen and (max-width: 1050px) {
    /* .navbar-burger{
        height: 14vh;
    } */
    .navbar {
        padding-left: 1.75rem;
        padding-right: 1.75rem;
    }
}
@media only screen and (max-width: 600px) {
    .navbar {
        padding-left: 1.75rem;
        padding-right: 1.75rem;
    } 
}
.navbar .navbar-item:hover {
    background-color: transparent;
}
.navbar-item-text {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
}
.button {
    border-radius: 0;
}
.navbar-end .navbar-item:not(:last-child) {
    margin-right: 0;
}
.has-padding-left-0-8 {
    padding-left: .8rem;
}
.has-padding-left-0-5 {
    padding-left: .5rem;
}